*{
    box-sizing: border-box;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    padding: 20px;
}
h1{
    text-align: center;
    color: teal;
    margin-top: 70px;
    font-size: 50px;
}
p{
    font-size: 15px;
    line-height: 1.7;
}
.tit{
    margin-left: 250px;
    font-weight: bold;
    font-size: 17px;
    width: 70%;
}
section{
    width: 100%;
    background-color: #39454ee4;
    color: white;
    margin: 10px;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0, 0, 1.2);
}
h2{
    color: rgb(0, 0, 0);
    border-left: 5px solid #fddb00;
    padding-left: 10px;
    /* margin-top: 25px; */
}
h3{
    background-image: radial-gradient( #c800ff, #0008ffe4 );
    margin-top: 10px;
    margin-left: 5px;
    font-size: 1.6rem;
    width: 30rem;
    display: flex;
    justify-content: space-between;
    
}
ul{
    list-style-type: square ;
    padding-left: 20px;
    line-height: 1.7;
}
table{
    width: 70%;
    margin-left: 10px;
    line-height: 1.7;
}
th,td{
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
th{
    background-color: #000000;
    font-weight: bold;
}
img{
    width: 30rem;
    display: block;
}
a{
    display: inline-block;
    text-decoration: none;
    padding: 8px 14px;
    background-color: #120cd1eb;
    color: white;
    border-radius: 7px;
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 30px;

}

nav {
    width: 96.4%;
    background-color: #39454e;
    color: white;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 30px;
    margin-top: -30px;
    margin-left: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    text-align: center;
    position: fixed;
    z-index: 0;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}
button{
    border-radius: 20px;
}
button a{
    background: none;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}
.cnt{
    border: none;
    width: 100%;
    font-size: 18px;
    color: white;
}

form{
    width: 40%;
    padding: 0.5rem ;
    margin: 1rem;
}

input{
    margin-left: 5.8rem;
}
#email{
    margin-left: 7.56rem;
}
#phone{
    margin-left: 7.2rem;
}
#requirement{
    margin-left: 0.5rem;
}

.budget{
    margin-left: 20px;
}
label[for = "label"]{
    border: 1px solid black;
}
input[name="price"]{
    margin-left: 10.5rem;
}
/* project Description */
#projectDescription{
    margin-left: 1.4rem;
}
#projectDate{
    margin-left: 1.6rem;
}
#terms{
    margin-left: 0rem;
}
#projectDescriptionBtn{
    margin-left: 23rem;
    width: 150px;
    height: 35px;
    font-size: 1rem;
    font-weight: 600;
}

/* Footer */
footer{
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    margin-left: 10px;
    background-color: teal;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgb(0, 0, 1.2);
    
}
footer img{
    width: 350px;
    height: auto;
    position: relative;
    left: 50px;
    top: 0;

}
footer p{
    max-width: 70%;
    position: relative;
    left: 25rem;
    top: -5.2rem;
    color: #fddb00;
    font-size: 14px;
}
footer a{
    border: 1px solid black;
    border-radius: 30px;
    width: 119px;
    height: 30px;
    color: #000000;
    background-color: whitesmoke;
}
#footer_content a{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-top: 0px;
    font-weight: 600;
}
/* socialmedia */
details{
    margin: ;
}